packages:
  yum:
    git: []
    postgresql93-devel: []
    mod24_ssl: []

files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIApplicationGroup %{GLOBAL}

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DEBUG: True
    SECRET_KEY: 'prodsecret'
    SQLALCHEMY_DATABASE_URI: 'postgresql://postgres:***REMOVED***@wtm-ad-library-stage.cfhyzec3tjdz.eu-central-1.rds.amazonaws.com/fbadlibraryclone'
    SQLALCHEMY_TRACK_MODIFICATIONS: False
    APP_ID: '1969644276620014'
    APP_SECRET: '8f12eb11035256f47ed1be33974967a6'
    API_VERSION: '3.1'
    PAGES_BETWEEN_STORING: 10
    ADS_PER_PAGE: 200
    INTERVAL: 86400
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application.py
    NumProcesses: 1
    NumThreads: 15
  "aws:elasticbeanstalk:container:python:staticfiles":
    /static/: "static/"
